/* Background */
body {
  margin: 0;
  background: url("/public/background.jpg") no-repeat center center/cover;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

/* Main container */
.main-container {
  padding: 40px;
  color: black;
  background: transparent;
}

.main-title {
  color: rgb(255, 255, 255);
  font-size: 35px;
  display: flex;
  justify-content: center;
}

.p{
  color: rgb(255, 255, 255);
}

/* Search bar */
.search-bar {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.search-bar input {
  width: 280px;
  padding: 12px 15px;
  border: 1.5px solid #333;
  border-radius: 10px;
  font-size: 16px;
}

.search-bar button {
  padding: 12px 25px;
  margin-left: 10px;
  background: #ff5e57;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

/* Glass effect */
.glass {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 30px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

/* Layout */
.weather-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}

/* Current weather card */
.current-card {
  text-align: left;
  padding: 35px;
  max-width: 330px;
  background: linear-gradient(
    to bottom right, 
    rgba(0,0,0),
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.7),
    rgba(0,0,0)
  ) !important;
  color: #fff !important;
}

.day {
  font-size: 22px;
  font-weight: 600;
}

.location {
  margin-top: 5px;
  font-size: 18px;
  opacity: 0.8;
}

.temp-section {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

.temp {
  font-size: 55px;
  margin-left: 10px;
  color: white;
  z-index: 100;
}

.description {
  font-size: 18px;
  text-transform: capitalize;
  opacity: 0.9;
}

/* Forecast section */
.forecast-card {
  padding: 25px;
  background: linear-gradient(
    to bottom right, 
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.4)
  ) !important;
  color: #fff !important;
}

.forecast-title {
  font-size: 24px;
  margin-bottom: 15px;
}

/* Grid of forecast items */
.forecast-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Each forecast box */
.forecast-item {
  text-align: center;
  min-width: 110px;
}

/* Day text styling */
.forecast-day {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
}

/* Weather icon */
.forecast-icon {
  width: 60px;
  height: 60px;
}

/* Temp row */
.forecast-temp {
  font-size: 18px;
  font-weight: 600;
  margin: 6px 0;
}

/* Description */
.forecast-desc {
  font-size: 14px;
  text-transform: capitalize;
  opacity: 0.8;
  margin-bottom: 6px;
}

/* Extra details */
.forecast-extra {
  font-size: 13px;
  opacity: 0.7;
  margin: 2px 0;
}

